<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @flat.picture_url %>);">
</div>

<div class="row">
  <div class="col-8">
    <div class="card margin-top-negative light-boxshadow">
      <div class="card-body text-left">
        <h3 class="card-title"><%= @flat.name %></h3>
        <h6 class="card-subtitle mb-2 text-muted"><%= @flat.address %></h6>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card margin-top-negative light-boxshadow">
      <div class="card-body text-left">
        <h3>Details</h3>
        <div class="row align-middle justify-content-around">
          <p class="card-text"><i class="fas fa-user mr-1"></i><%= @flat.number_of_guests %></p>
          <p class="card-text"><i class="fas fa-usd"></i><%= @flat.price_per_night %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="card mt-3 light-boxshadow">
      <div class="card-body text-left">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>
    </div>
  </div>
</div>

<div id="map" style="height: 600px; width: 1200px"></div>
